<div class="row">
  <div id="wrapper" class="col-md-12 text-center">
    <h2>Mongo Scraper</h2>
    <h3>New York Times Technology</h3> 

  <div>
    <button type="button" id = "homebtn" class="btn btn-info"><a href="/">Home</a></button>
    <button type="button" id="saveArticles" class="btn btn-info">Saved Articles</button>
    <button type="button" id="scrapeArticles" class="btn btn-info">Scrape New Articles!</button>
  </div>
  <div id="notes"></div>
  <div id="articles"></div>
	
</div>
    

 
      

