<div class="row">
    <div class="col-md-12 text-center">
        <h1>Mongo Scraper</h1>
        <p>Stack Overflow Questions</p>  
        <a href="#"><button class="btn btn-default navbarBtn" id="homeButton">Home</button></a>
        <button onclick="window.location='/saved';" class="btn btn-default navbarBtn" id="saveButton">Saved</button>
        <button class="btn btn-default navbarBtn" id="scrapeButton">Scrape</button>
    </div>
</div>

 
      

<div id="articles" style="top:20px"></div>
<div id="notes"></div>